*{
    margin: 0;
}

.container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

#title{
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 4em;
}

#description{
    padding-bottom: 2em;
    text-align: center;
    line-height: 2.5em;
}

#survey-form{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    gap: 1em;
}